.configurator-control {
    @extend .col-sm-12 !optional;
    @extend .frappe-control !optional;
    @extend .my-2 !optional;
}

.card {
    margin: 15px;
    border-radius: 8px; /* Clase rounded-lg en Bootstrap equivale a border-radius de 8px */
    flex-grow: 1;
    border: 1px solid #ddd; /* Añade un borde de 1px de color gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

.text-blue-500 {
    color: #3b82f6;
}

.hover\:underline:hover {
    text-decoration: underline;
}

:root {
    --gray-50: #e7eff5;
    --gray-100: #F9FAFC;
    /* Define otras variables personalizadas según sea necesario */
}

.plan-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.plan-title {
    font-size: 20px;
    color: #333;
}

.plan-icon {
    color: #007bff;
    margin-right: 10px;
}

.plan-details {
    display: flex;
    justify-content: space-between;
}

.plan-type {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.plan-type .logo {
    width: auto;
    height: 80px;
    object-fit: contain; 
}

.plan-name {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 5px 10px; /* Relleno interno para la categoría */
    border-radius: 5px; /* Bordes redondeados */
    color: #3b82f6; /* Color del texto */
    font-weight: bold; /* Hace el texto en negrita */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}

.plan-prices {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
}

.price-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto dentro de cada elemento */
    padding: 8px; /* Añade padding para mejorar la apariencia */
    flex: 1; /* Permite que cada price-item crezca igual */
    margin: 0 8px; /* Añade un margen horizontal para espacio entre los elementos */
    background-color: #fff; /* Fondo blanco */
}

.price-label {
    font-size: 14px;
    flex: 1;
    color: #666;
}

.price-value {
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade sombra al texto */
}

.old-price {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}

.plan-links {
    display: flex;
    justify-content: space-between;
    padding: 8px; /* Añade padding para mejorar la apariencia */
    margin: 0 8px; /* Añade un margen horizontal para espacio entre los elementos */
}

.plan-links a {
    color: #007bff;
    text-decoration: none;
}

.plan-links a:hover {
    text-decoration: underline;
}

.plan-status {
    display: flex;
    padding: 10px;
    flex-grow: 1;
}

.plan-status ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0.3rem;
}

.plan-status li {
    margin-bottom: 10px;
}
