<div class="frappe-control col-sm-12">
    <div class="address-box row">
        <div class="col-sm-6">
            <div class="card">
                <div class="row plan-prices">
                    <div class="plan-type col-sm-3">
                        <img src="/assets/configurator/img/{{ company }}.png" alt="Logo1" class="logo">
                    </div>
                    <div class="plan-type col-sm-9 justify-content-center">
                        <p class="plan-name">{{ plan_name }}</p>
                    </div>
                </div>
                <div class="plan-prices">
                    <div class="price-item">
                        <span class="price-value">{{ premium }}</span>
                        <span class="price-label">Premium</span>
                        <span class="old-price">Was $2028.58</span>
                    </div>
                    <div class="price-item">
                        <span class="price-value">{{ deductible }}</span>
                        <span class="price-label">Deductible</span>
                    </div>
                    <div class="price-item">
                        <span class="price-value">{{ max_des }}</span>
                        <span class="price-label">POO máx.</span>
                    </div>
                </div>
                <div class="plan-links">
                    <a href="#" class="text-blue-500">Ver detalles completos del plan</a>
                    <a href="#" class="text-blue-500">Ver lista de beneficios</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card plan-status">
                <ul>
                    <li><strong>Estado:</strong> Inscrito</li>
                    <li><strong>Vigente:</strong> 6/1/2024</li>
                    <li><strong>Vencimiento:</strong> 6/30/2024</li>
                    <li><strong>Miembros:</strong> ISAAC TREJO RAMIREZ, DALIA TREJO</li>
                    <li><strong>ID de subscritor:</strong> 0018475352</li>
                    <li><strong>ID de FFM:</strong> 5280429770</li>
                    <li><strong>Teléfono de pago:</strong> (877) 687-1169</li>
                    <li><strong>Agente registrado:</strong> beatriz sierra (NPN: 8602276)</li>
                </ul>
            </div>
        </div>
    </div>
</div>